.terraform/
**/.terraform/

.terraform.lock.hcl
**/.terraform.lock.hcl

*.tfstate
*.tfstate.*
**/*.tfstate
**/*.tfstate.*

crash.log
crash.*.log

*.tfplan
*.plan

override.tf
override.tf.json
*_override.tf
*_override.tf.json

terraform.tfvars
terraform.tfvars.json
**/terraform.tfvars
**/terraform.tfvars.json

.opentofu/
**/.opentofu/
